<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("partials/nav") %>
    <br>
    <form action="/form" method="post">
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="manufacturer" placeholder="Manufacturer" />
        <input type="text" name="quantity" placeholder="Quantity">
        <input type="text" name="dayslefttouse" placeholder="Days left to use" />
        <input type="text" name="placewhereavailable" placeholder="Place where available">
        <button type="submit">Submit</button>
    </form>

    <%- include("partials/footer") %>
</body>
</html>